body {
  /* max-width: 800px; */
  max-width: 75%;
  margin: auto;
  padding: 1em;
  line-height: 1.5em;
  color: #222;
}

a:link,a:visited { 
 color: #3d2645;
 text-decoration: underline;
}

a:hover, a:active {
 color: #aa4465;
 text-decoration: underline;
}

/* header and footer areas */
.menu { 
  padding: 0;
  width: 100%;
  background-color: #222;
  text-align: center;
 }
.menu li {
  display: inline-block;
}
@media (max-width: 600px) {
    .menu li {
        display: block;
    }
}

.article-meta, .menu a {
  text-decoration: none;
  /* font-color: #fff; */
  /* background: #eee; */
  padding: 5px;
  margin-left:20px;
  margin-right:20px;
  /* border-radius: 5px; */
}
.menu a /*, .menu a:link, .menu a:visited, a:active, a:hover {*/{
  color: #fff;
}
.menu a:hover, .menu a:active {
  color:#222;
  background-color: #fff;
  /*
  border-top: 1px solid #222;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
  */
  border-radius: 5px;
}

.article-meta, .site-title, footer { text-align: center; }
.title { 
  /* font-size: 1.2em;  */
  font-weight: normal;
}
.author, .date {
  font-size: 85%; */
}
.site-title {
  /* font-size: 500%; */
  font-size: 3em; 
  /* font-weight: bold; */
  /* font-family: 'Cinzel Decorative', cursive; */
  /* padding: 5px; */
  /* margin: 30px; */
}
.sub-title {
  text-align: center;
  /* font-family: 'Cinzel Decorative', cursive; */
  /* font-weight: bold; */
}

footer a { text-decoration: none; }
hr {
  border-style: solid;
  color: #222;
}

/* images */
.page-thumb {
    max-width:10%;
}

#ltbox-div {
  margin: auto;
  /* max-width: 100%; */
}

.ltbox-thumb {
  max-width: 33%;
  max-height: 33%;
  padding: 5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ltbox-gallery-row {
  /* display:flex; */

  /* width: 100vw; */
  /* text-align: center; */

  display: flex;
  flex-wrap: wrap;
  /* flex-direction: row; */
  /* justify-content: center; */
  padding: 0 4px;
}
.ltbox-gallery-col {
  flex: 30%;
  max-width: 30%;
  padding: 0 4px;

}
.ltbox-gallery-col img {
  margin-top: 8px;
  vertical-align: middle;
  object-fit: scale-down;
}
@media (max-width: 800px) {
    .ltbox-gallery-col {
      flex: 30%;
      max-width: 30%;
  }
}
@media (max-width: 600px) {
    .ltbox-gallery-col {
      flex: 50%;
      max-width: 50%;
  }
}

.ltbox-gallery-col3 {
  /* flex: 33%; */
    
  /* width: 30%; */
  /* display: inline-block; */
  /* padding: 5px; */
  /* flex: 50%; */
  /* padding: 0 4px; */
}

.ltbox-gallery-col3 img {
  /* flex: 33%; */
  /* margin-top: 8px; */
  /* vertical-align: middle;   */
  /* width:auto; */
  /* height: auto; */
  /* max-height:200px; */
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
}
/* .ltbox-gallery-row::after { */
/*   content: ""; */
/*   clear: both; */
/*   display: table; */
/* } */

#ltbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0,0,0,0.7);
  display: none;
}

#ltbox p {
  text-align: right;
  color: #fff;
  margin-right: 20px;
  font-size: .75em;
  margin-bottom: 0;
}

#ltbox img {
  max-width: 90vw;
  max-height: 90vh;
  box-shadow:0 0 25px #111;
  -webkit-box-shadow:0 0 25px #111;
  -moz-box-shadow:0 0 25px #111
}

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
}
code { background: #f9f9f9; }
pre code { background: none; }

/* misc elements */
/* img, iframe, video { max-width: 100%; } */
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
}

table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
h1 {
  font-weight: normal;
}
