<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
      <!-- <div class="site&#45;title"><span>Hidden</span> <span>Phoenix</span></div> -->
      <svg viewbox="0 0 150 20">
          <text x="2" y="15" style="font-family: 'Cinzel Decorative', cursive; font-weight: bold; color: #222;">Hidden Phoenix</text>
          <!-- <text x="0" y="15" class="site&#45;title">Hidden Phoenix</text> -->
      </svg>
    <nav>
    <p class="sub-title">A Collection of Trees, Treasures and Tales from the Field: An Urban Forester's Journal</p>
    <ul class="menu">
      {{ range .Site.Menus.main }}
      <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
      {{ end }}
    </ul>
    <hr/>
    </nav>
