<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
    {{ partial "head_custom.html" . }}
  </head>

  <body>
      <!-- <div class="site&#45;title"><span>Hidden</span> <span>Phoenix</span></div> -->
      <div class="site-title">
          <span>HIDDEN PHOENIX</span>
      </div>
      <!-- <svg viewbox="0 0 165 20"> -->
          <!-- <text x="5" y="15" style="font&#45;family: 'Belgrano', serif; color: #222;">HIDDEN PHOENIX</text> -->
      <!-- </svg> -->
    <nav>
    <p class="sub-title">A Collection of Trees, Treasures and Tales from the Field: An Urban Forester's Journal</p>
    <div class="menu">
        <ul>
          {{ range .Site.Menus.main }}
              <li><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end }}
        </ul>
    </div>
    <hr/>
    </nav>
